APP_NAME=JDS_EXPENSE_TRACKER_API
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/proyecto-jds-Expense-Tracker/backend/public
APP_CORS_ORIGIN=http://localhost:4200

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=jds_expense_tracker
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
