Options -Indexes
RewriteEngine On
RewriteBase /expense-tracker/

RewriteRule ^index\.html$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /expense-tracker/index.html [L]
